<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--mssql, firebird -->
    <add key="DbType" value="mssql" />
    <add key="Viewname" value="PC88_VIEW" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <connectionStrings>
    <add name="baglanti" connectionString="data source=.;initial catalog=DGSCORAP;persist security info=True;user id=sa;password=vega1234;multipleactiveresultsets=True;" />
    <add name="baglantiFireBird" connectionString="User ID=sysdba;Password=masterkey;Database=localhost:C:\ZENGINBETON\akinsoft\WOLVOX.FDB;Charset=NONE;" />
	<add name="baglantiFireBirdLan" connectionString="Server:192.168.1.201;User=sysdba;Password=masterkey;Database=192.168.1.201:E:\AKINSOFT\Wolvox8\Database_FB\01\2023\WOLVOX.FDB;Charset=NONE;" />
	  
  </connectionStrings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="ClientRoleProvider">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>