<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Viewname" value="TBLPC88"/>
  </appSettings>
  <connectionStrings>
    <add name="baglanti" connectionString="data source=.;Initial Catalog=EMELPIRLANTA;User ID=sa;Password=vega1234;" providerName="System.Data.SqlClient" />
    <add name="baglanti_yedek" connectionString="data source=192.168.100.2;Initial Catalog=PIYASA;User ID=sa;Password=Vega1234;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>